/*Tools*/
/*Color Textos*/
/*Color Hover*/
/*Box Shadows*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
  position: relative;
}

.cont-bg {
  width: 360px;
  height: 740px;
  position: absolute;
  background-image: url(https://cdn.wallpapersafari.com/12/98/gOwvmV.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.8;
  border-radius: 20px;
}

/*Parcials*/
/*MAIN*/
/*Propiedades section*/
.container .container-item {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
}

/*Fin propiedades section*/
/*Comienzo propiedades main*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 500px;
  height: 900px;
  margin: auto;
  padding: 80px 0 80px 0;
  /*Comienzo secciones - ITEMS*/
}
.container .cont__section {
  width: 360px;
  height: 740px;
  box-shadow: 2px 2px 1rem #555555;
  border-radius: 20px;
}
.container .section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: auto;
  border: 10px solid #2a9d8f;
  border-radius: 20px;
}
.container .section-entry {
  width: 100%;
}
.container .section-entry .cont__entry-title .entry-title {
  font-size: 70px;
  text-align: center;
  color: #264653;
  font-family: "Zen Loop", cursive;
  font-weight: 900;
}
.container .section-entry .cont__input {
  width: 100%;
}
.container .section-entry .cont__input .input-txt {
  font-size: 20px;
  font-family: "Zen Loop", cursive;
  font-size: 30px;
  font-weight: 900;
  margin: 10px;
  align-content: center;
}
.container .section-entry .cont__input .entry-input {
  display: block;
  margin: 30px auto;
  width: 80%;
  padding: 10px;
  outline: 3px solid #264653;
  border: none;
  background-color: #e9c46a;
  color: #2a9d8f;
  font-size: 20px;
  border-radius: 20px;
}
.container .section-entry .cont__input .btn-send {
  display: block;
  width: 150px;
  height: 40px;
  margin: 10px auto;
  background-color: #264653;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: #e9c46a;
}
.container .section-entry .cont__input .btn-send:hover {
  background: #366375;
}
.container .section-entry .cont__next-step {
  margin: auto;
}
.container .section-entry .cont__next-step .step {
  width: 150px;
  height: 40px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 2px 2px 1rem #555555;
  background-color: #2a9d8f;
  color: #e9c46a;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.container .section-entry .cont__next-step .step:hover {
  background-color: #238176;
}
.container .section-type {
  display: none;
}
.container .section-age {
  display: none;
}
.container .section-years {
  display: none;
}
.container .section-months {
  display: none;
}
.container .section-exit {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
