* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 233, 233);
  position: relative;
}

.cont-bg {
  width: 360px;
  height: 740px;
  position: absolute;
  background-image: url(https://cdn.wallpapersafari.com/12/98/gOwvmV.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: .8;
  border-radius: 20px;
}