* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1, h2 {
font-size: 30px;
font-weight: 600;
text-align: center;
color: $colorText;
}

p {
  text-align: center;
  line-height: 40px;
  color: $colorText;
}
