/*MAIN*/
/*Propiedades section*/
%prop-section {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
}
/*Fin propiedades section*/
/*Comienzo propiedades main*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 500px;
    height: 900px;
    margin: auto;
    padding: 80px 0 80px 0;
      .cont__section {
        width: 360px;
        height: 740px;
        box-shadow: $boxShadow;
        border-radius: 20px;
      }
      .section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin: auto;
        border: 10px solid $colorDos;
        border-radius: 20px;
      }
      .container-item {
        @extend %prop-section;
      }

      /*Comienzo secciones - ITEMS*/
      
      .section-entry {
        width: 100%;
        .cont__entry-title {
            .entry-title {
                font-size: 70px;
                text-align: center;
                color: $colorUno;
                font-family: 'Zen Loop', cursive;
                font-weight: 900;
            }
        }
        .cont__input {
            width: 100%;
            .input-txt {
                font-size: 20px;
                font-family: 'Zen Loop', cursive;
                font-size: 30px;
                font-weight: 900;
                margin: 10px;
                align-content: center;
            }     
            .entry-input {
                display: block;
                margin: 30px auto;
                width: 80%;
                padding: 10px;
                outline: 3px solid $colorUno;
                border: none;
                background-color: $colorTres;
                color: $colorDos;
                font-size: 20px;
                border-radius: 20px;
            }      
            .btn-send {
                display: block;
                width: 150px;
                height: 40px;
                margin: 10px auto;
                background-color: $colorUno;
                outline: none;
                border: none;
                cursor: pointer;
                border-radius: 20px;
                color: $colorTres;

                &:hover {
                    background: $colorUnoHover;
                }
            }
        }
        .cont__next-step {
            margin: auto;
            .step {
                width: 150px;
                height: 40px;
                margin: auto;
                border-radius: 20px;
                box-shadow: $boxShadow;
                background-color: $colorDos;
                color: $colorTres;
                text-decoration: none;
                border: none;      
                cursor: pointer;
                &:hover {
                    background-color: $colorDosHover;
                }          
            }
        }
      }
      .section-type {
          display: none;
      }
      .section-age {
          display: none;
      }
      .section-years {
        display: none;
      }
      .section-months {
        display: none;
      }
      .section-exit {
          display: none;
      }
  }